.animation {

    .shape{
        width: 150px;
        height: 150px;
        background: rgb(224, 7, 7);
        border-radius: 50px; 
    }
}


.shape{
    width: 150px;
    height: 150px;
    background: rgb(224, 7, 7);
    border-radius: 50px; 
}